<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/tutorials">Tutorials</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/blogs">Blogs</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/interview-questions">Interview Questions</a>
</li>
<li class="nav-item" style="display:none;">
<a class="nav-link" href="{{site.baseurl}}/authors">Authors</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/resources">Resources</a>
</li>
